/* app/static/style.css */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000; /* Чёрный фон */
    color: #ffffff;           /* Белый текст */
    font-family: "Arial", sans-serif;
    font-size: 2rem;
}
